/* Esta clase solo sirve para impedir el scroll */
.no-scroll {
    overflow: hidden;
}

.navbar {
    @media (max-width:940px) {
        display: none;
    }
    position: fixed;
    top: 40%;
    right: 20px;
    align-items: center;
    z-index: 500000000000000;
}

.navlink {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 1.25rem;
    transition: font-size .2s ease;
    margin-bottom: 20px;
    hr {
        width: 30px;
        margin-left: 10px;
        border-width: 1.5px;
        transition: width .2s ease;
    }
}

.navlink:hover {
    font-size: 1.5rem;
}

.navlink.active {
    font-size: 1.5rem;
    font-weight: bold;
    hr {
        width: 100px;
    }
}

.navlink-little {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.navlink.active:hover {
    font-size: 1.75rem;
}

/* NavBar pequeño */

.navbar-little {
    @media (min-width: 940px) {
        display: none;
    }
    position: fixed;
    font-size: 2.25rem;
    top: 20px;
    right: 20px;
    background-color: var(--color-primary);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); /* Sombra */

    border-radius: 5px;
    color: white;
    z-index: 500000000000000;
}

.menu-button-clicked {
    display: none;
}

.close-button {
    display: none;
}

.menu-little {
    position: fixed;
    top: -1000px;
    left: -1000px;
    width: 100%;
    height: 100vh;
    z-index: -1;
    transition: all .5s linear ;
}

.menu-little-clicked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-primary);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all .2s ease ;


    z-index: 20;
}