.proy-container {
    position: relative;
    display: inline-block;
    overflow: hidden; /* Para asegurar que el pseudo-elemento no sobresalga */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    
    @media (min-width: 500px) {
        width: 75%;        
    }
}

.proy-img {
    transition: filter 0.3s ease;
    border-radius: 20px;
}

/* .proy-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;            
} */

.proy-text {
    position: absolute;
    align-items: center;
    margin-top: 2vw;
    text-align: start;
    width: 90%;
    color: var(--color-text2);
    font-size: 1.5vw;
    text-align: start;
    opacity: 0;
    transition: opacity 0.3s ease;

    h2 {
        font-size: 1.35rem;
        color: var(--color-second);
    }

    p {
        margin-top: 3vh;
        font-size: 1rem;
    }
}

.proy-container:hover .proy-img {
    /* opacity: 0.85; */
    filter: brightness(20%);
}

.proy-container:hover .proy-text {
    opacity: 1;
}

.proy-skills {
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.proy-skill {
    font-size: 2.25rem;
    margin-right: 1vw;
    border-radius: 5px;
    padding: 5px;
    filter: contrast(100%x);
}

.proy-links {
    margin-top: 3vh;
    display: flex;
}

